<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Auther</label><input type="text" name="auther"><br><br>
            <label for="">User</label><input type="text" name="user"><br><br>
            <label for="">FeedBack</label><input type="text" name="feedback"><br><br>
            <label for="">Rating</label><input type="text" name="rating"><br><br>
            <input type="Submit" value="save">
        </form>
    </body>
</html>