<!DOCTYPE html>
<html>
    <head>
        <style>
            *{
                margin: 0px;
                padding: 0px;
            }
            #heading{
                text-align: center;
                height: 50px;
                background-color: blueviolet;
                color: white;
            }
            #main{
                text-align: center;
                margin: 80px;
            }
        </style>

    </head>
    <body>
        <div id="heading">
           <h1>Vcube Application</h1>
        </div>
        <div id="main">
            {%  block mainpart %}
            <h2><a href="{% url 'employeeinserturl' %}">Insert</a><br><br></h2>
            <h2><a href="{% url 'employeeselecturl' 1 %}">Select</a></h2>
            {% endblock %}
            {% if request.user.is_authenticated %}
            <a href="{% url 'employeelogouturl' %}">Logout</a>
            {% endif %}
        </div>
    </body>
</html>